body{
    background-color: hsl(0, 0%, 97%);
}
.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
    margin: 50px;
  }

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-title{
    font-weight: 900;
}

.logo-name{
    font-size: 36px;
}
nav ul li{
    list-style-type: none;
}
div li{
    list-style-type: none;
}
nav li{
    text-decoration: none;
}

.main{
    width: 1140px;
    margin: auto;
}




.header{
    background-image: url(../Assets/Hero-bg.png);
    background-repeat: no-repeat;
    width: auto;
    height: 700px;
    background-position: center top;
    display: block;
    justify-content: center;
    margin: 0px auto;
}

.btn-primary{
    background-color: #4E47FF;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 35px;
    border-radius: 10px;
    border: none;
    margin: auto;

}

.h-banner-content {
    margin-top: 160px;
    margin-bottom: 160px;
    text-align: center;
}
.banner-text{
    font-size: 65px;
    font-weight: bold;
}
.h-b{
    margin-bottom: 200px;
}
.section1{
    align-items: center;
    text-align: left;
    display: flex;
    margin: auto;
    width: 1140px;
    justify-content: space-between;
}
.action-content{
    align-items: center top;
    margin: auto;
    size: 200px 520px;
}
.mini{
    width: auto;
    border-radius: 48px;
}
.s1-h{
    font-size: 42px;
    font-weight: bold;
}
.s1-p{
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
}
.section2{
    padding: 50px;
    margin: 100px 10px;
    width: 1140px;
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 25px;
}

.s2-numbers{
    display: flex;
    justify-content: space-around;
}
.s2-h{
    text-align: center;
}
.s2-n-h{
    font-size: 80px;
    font-weight: bolder;
    color: #4E47FF;
    margin-bottom: 0%;
}
.s2-n-p{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.5);
}
.section3{
    padding: 50px;
    margin: 100px 10px;
    width: 1140px;
}

.avater-image{
    width: 40px;
    height: 40px;
    border-radius: 9999px;
}
.s3-c-id{
    display: flex;
}
.s3-c-h{
    margin: 0px 0px 0px 12px;
    color: rgba(117, 117, 117, 1);
}
.s3-c-p{
    margin: 3px 3px 3px 12px;
    font-size: 16px;
    font-weight: normal;
    color: #B3B3B3;
}
.s3-c{
    background-color: #ffffff;
    padding: 24px;
    width: 320px;
    border-radius: 14px;
    border-style: solid;
    border-color: #ffb80534;
    border-width: 1px;
}
.s3-c-c{
    font-size: 24px;
    font-weight: bolder;
    margin: 3px;
}
.star{
    margin-bottom: 20px;
}
.s3-a-c{
    line-height: 25px;
    text-align: left;
}
.s3-md{
    display: flex;
    justify-content: space-between;
}
.s3-mh{
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    color: rgba(37, 36, 50, 1);
}
.section4{
    padding: 70px;
    margin: 100px 10px;
    text-align: center;
    background-color: #ffffff;
    width: 1100px;
    border-radius: 14px;
}
.s4-h{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}
.s4-d{
    font-size: 17px;
    color: #5c5c5c;
    margin-bottom: 10px;
}
.s4-image{
    width: 840px;
    border-radius: 48px;
    margin-top: 20px;
}
.h-b{
    margin: auto;
}
.b-m{
    margin: 30px;
}


.section5{
    padding: 70px;
    margin: 100px 10px;
    background-color: hsl(0, 0%, 97%);
    width: 1240px;
    border-radius: 14px;
    align-items: center;
    padding: 70px 0px 70px 0px;
    display: flex;
    justify-content: space-between;
}




div div form div input[type="text"]{
    width: 620px;
    border-radius: 10px;
    padding: 20px 32px;
    font-size: 20px;
    font-style: normal;
    border-style: solid;
    border-color: white;
}
div div form div input[type="email"]{
    width: 620px;
    margin-right: 0px;
    border-radius: 10px;
    padding: 20px 32px;
    font-size: 20px;
    font-style: normal;
    border-style: solid;
    border-color: white;
}
.s5-p2-h{
    font-size: 18px;
    font-weight: 500px;
    margin: 10px;
}


.btn-primary2{
    text-align: center;
    background-color: #4E47FF;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 35px;
    border-radius: 10px;
    border: none;
    margin: 0px 0px 0px 0px;
    width: 100%;}

.s5-text{
        font-weight: bolder;
        font-size: 90px;
 }



.footer{
    text-align: center;
    background-color: #ffffff;
    padding: 10px;
}

.btn-footer{
    font-size: 36px;
    background-color: hsl(0, 0%, 97%);
    border: none;
}
.logo-name-footer{
    font-size: 100px;
    font-weight: 900;
    color: #4E47FF;
    margin-bottom: 0%;
}
.p-f{
    font-size: 22px;
    font-weight: 500px;

}
.f-d{
   
    display: flex;
    gap: 10px;
    text-align: center;
    padding: 20px;
    margin: 0px;
    justify-content: space-around;
    
}

.l-p{
    
    text-align: center;
   margin: 0px 600px;
    
}
.f-link{
    text-decoration: none;
    font-size: 18px;
    color: #5c5c5c;
    font-weight: 600;
}